<!doctype html>
<html lang="en">

<head>
  <title>Company Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css"
    integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/companyProfile.css">

</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(/images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(/images/logo.jpg);"></div>
          <h3><%= company.hrName %></h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="Home.html"><span class="fa fa-home mr-3"></span> Home</a>
        </li>
        <li class="active">
          <a href="#"><span class="fa-solid fa-user mr-3"></span> Profile</a>
        </li>
        <li>
          <a href="companyEditProfile.html"><span class="fa-solid fa-user-pen mr-3 notif"></span>Edit Profile</a>
        </li>
        <li>
          <a href="companyPostJob.html"><span class="fa-solid fa-plus mr-3"></span> Add Job</a>
        </li>
        <li>
          <a href="companyEditJobs.html"><span class="fa-solid fa-pen-to-square mr-3"></span> Edit Job</a>
        </li>
        <li>
          <a href="companyStudentList.html"><span class="fa-solid fa-list mr-3"></span> Student list</a>
        </li>
   
        <li>
          <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Logout</a>
        </li>
      </ul>

    </nav>


    <div id="content" class="p-4 p-md-5 pt-5">

      <div class="userimage">
        <h2 class="mb-4">Welcome, <%= company.hrName %> </h2>
        <div><img src="/images/logo.jpg " alt="Student-image" id="photo"> </div>
      </div>

      <table class="table">
        <tr>
          <td> Email </td>
          <td>:</td>
          <td> <%= company.email %> </td>
        </tr>
        <tr>
          <td>Website </td>
          <td>:</td>
          <td> <%= company.website %> </td>
        </tr>
        <tr>
          <td>Company Name</td>
          <td>:</td>
          <td><%= company.companyName %> </td>
        </tr>
        <tr>
          <td>Contact Number </td>
          <td>:</td>
          <td><%= company.contactNumber %> </td>
        </tr>
        <tr>
          <td> Is Verified  </td>
          <td>:</td>
           <% if (company.isVerified) { %>
            <td style="color: green;"> Verified </td>
            <%} else { %>
              <td style="color: red;"> Not Verified </td>
              <% } %>
        </tr>

        
      </table>

    </div>
  </div>

  <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>